DTKT_GCP_PROJECT=your-gcp-project-id
DTKT_DOPPLER_TOKEN=dp.st.worker_xxxx
DTKT_TEMPORAL_HOST=your-temporal-host:7233
DTKT_TEMPORAL_NAMESPACE=default
DTKT_TEMPORAL_API_KEY=your-temporal-api-key
DTKT_BUCKET_NAME=media
DTKT_FIRESTORE_SCANS_COLLECTION=scans
