DTKT_TT_SESSIONID=
DTKT_TT_CSRF_TOKEN=
DTKT_TT_S_V_WEB_ID=
DTKT_POLL_INTERVAL_SECONDS=
DTKT_TRIGGER_WORD=
DTKT_USER_BLACKLIST=
DTKT_SUPPORTED_TYPES=
DTKT_VIDEO_ENA=
DTKT_PHOTO_ENA=
DTKT_MAX_CAROUSEL_PHOTOS=
DTKT_SIGHTENGINE_API_USER=
DTKT_SIGHTENGINE_API_SECRET=
DTKT_AI_THRESHOLD=
DTKT_LOW_CONFIDENCE_MIN=
DTKT_LOW_CONFIDENCE_MAX=
DTKT_UPSTASH_REDIS_URL=
DTKT_UPSTASH_REDIS_TOKEN=
DTKT_RATE_LIMIT_WINDOW=
DTKT_RATE_LIMIT_MAX=
DTKT_SENTRY_DSN=
DTKT_GCP_SERVICE_ACCOUNT_JSON=
DTKT_TEMPORAL_HOST=
DTKT_TEMPORAL_NAMESPACE=
DTKT_TEMPORAL_API_KEY=
DTKT_TEMPORAL_TASK_QUEUE=
DTKT_PROXY_ENABLED=true
