DTKT_MS_TOKEN=
DTKT_POLL_INTERVAL_SECONDS=
DTKT_TRIGGER_WORD=
DTKT_USER_BLACKLIST=
DTKT_SUPPORTED_TYPES=
DTKT_SIGHTENGINE_ACC_POOL=
DTKT_SIGHTENGINE_ACCS=
DTKT_SIGHTENGINE_API_USER=
DTKT_SIGHTENGINE_API_SECRET=
DTKT_AI_THRESHOLD=
DTKT_UPSTASH_REDIS_URL=
DTKT_UPSTASH_REDIS_TOKEN=
DTKT_RATE_LIMIT_WINDOW=
DTKT_RATE_LIMIT_MAX=
DTKT_SENTRY_DSN=
